body {
	padding: 0;
	background:#253138;
	color:rgba(255,255,255,0.9);
	font-size:17px;
}

a, a:hover, a:focus{
	color:#46b8da;
}

.uppercase{
	text-transform:uppercase;
}

.capitalize{
	text-transform:capitalize;
}

.header{
	padding:15px 0px;
  margin-bottom: 10px;
}

.weather-panel-wrapper{
	padding:15px;
}

.weather-panel{
		background: #2f3e47;
		box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.06), 0 1px 0px 0 rgba(0, 0, 0, 0.02);
		padding-bottom:30px;
		border-radius:10px;
}

.icon{
	margin-right:5px;
	font-size:0.85em;
}

.forecast-type{
	margin-left:30px;
}

.error-message{
	padding:15px 0px;
}
.error{
	color:#a94442;
}

.fade.ng-hide {
  transition:0.5s linear all;
  opacity:0;
}

.weather-description{
	font-size:1.3em;
	text-transform:capitalize;
}

.temp-max{
	color:#46b8da;
	font-size:1.2em;
}

.temp-min{
	color:#98a6ad;
	font-size:1.1em;
}

.weather-card{
	padding-bottom:30px;
	padding-left:45px;
	margin-bottom:30px;
	border-bottom: 1px dotted #394b56;
}


/*ng-animate*/
.animate-repeat.ng-enter{
    -webkit-transition:all linear 1s;
    transition:all linear 1s;
}

.animate-repeat.ng-leave.ng-leave-active,
.animate-repeat.ng-move,
.animate-repeat.ng-enter {
    opacity:0;
}

.animate-repeat.ng-enter.ng-enter-active {
    opacity:1;
}

.animate-repeat.ng-enter-stagger {
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
}

@media screen and (min-width: 768px) {
	.weather-card{
		padding-bottom:0px;
		padding-left:0px;
		margin-bottom:0px;
		border-bottom:none;
		text-align:center;
		padding-left:0px;
		padding-right:0px;
	}
	
	.weather-card:not(:last-child){
			border-right:1px solid #394b56;
	}
}
