<div class="header">
	<div class="container">
			<form class="form-inline" ng-submit="search()">
				<div class="input-group">
					<input class="form-control input-lg capitalize" placeholder="city, state" ng-model="query" required/>
					<div class="input-group-btn">
						<button class="btn btn-info input-lg" ng-disabled="!query"><span class="glyphicon glyphicon-search"></span></button>
					</div>
				</div>
			</form>
			<div ng-show="searchError" class="error error-message">
				<span>{{searchError}}</span>
			</div>
			
		</div>
</div>
<div class="weather-panel-wrapper" ng-show="loaded">
	<div class="weather-panel container">
			<div class="row">
				<div class="col-xs-12">
					<h3 class="uppercase"><span class="icon glyphicon glyphicon-map-marker"></span>{{loadedQuery}}</h3>
				</div>
				<div class="col-sm-2">
					<p class="forecast-type">5 Day Forecast</p>
				</div>
				
				<div class="weather-card col-sm-2 animate-repeat" ng-repeat="day in forecast" ng-init="icon_url='http://openweathermap.org/img/w/'+day.weather[0].icon+'.png'" ng-animate="'animate'">
					<div ng-show="visible == 'day'">
						<h3>{{(day.dt * 1000) | date: 'EEE'}}</h3>
						<p>{{(day.dt * 1000) | date: 'MMM'}} {{(day.dt * 1000) | date: 'd'}}</p>
						<img src={{icon_url}}>
						<p class="weather-description">{{day.weather[0].description}}</p>
						<p class="temp-max">{{day.temp.max | number:0}} &deg;F</p>
						<p class="temp-min">{{day.temp.min | number:0}} &deg;F</p>
						<small>Humidity - {{day.humidity}}%</small>
					</div>
				</div>
			</div>
	</div>
</div>

<span us-spinner spinner-on="loadingResults"></span>